@use '@variables' as variables;

.roundHeadingContainer {
  display: flex;
  justify-content: center;
  background-color: variables.$charcoal;
  padding: 10px 0;
  margin: 40px 0 30px;
}

@media screen and (max-width: variables.$mobile) {
  .roundHeadingContainer {
    display: block;
  }
}
