@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  width: 500px;
  position: relative;
  height: 300px;
}

.title {
  color: variables.$black;
  @include mixins.fontPrimary;
  font-size: 32px;
  margin-bottom: 40px;
}

.input {
  width: 400px;
}

label.label {
  color: black !important;
}

.button {
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: variables.$mobile) {
  .input {
    width: 100%;
  }
}
