@use '@mixins' as mixins;

.toggleContainer {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.switchContainer {
  width: 50px;
  height: 25px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switchKnob {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2.5px;
  transition: left 0.3s;
}

.label {
  margin-left: 10px;
  font-size: 16px;
  @include mixins.fontSecondaryBold;
}
