@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  width: 500px;
  position: relative;
  height: auto;
  min-height: 300px;
}

.title {
  color: variables.$black;
  @include mixins.fontPrimary;
  font-size: 32px;
  margin: 10px 0 40px;
}

.message {
  color: variables.$black;
  margin-bottom: 40px;
  text-align: center;
}

.instructions {
  color: black;
  @include mixins.fontSecondary;
  margin-top: 50px;
  p {
    text-align: center;
    color: black;
    @include mixins.fontSecondaryBold;
  }
  li {
    margin: 7px 0;
  }
}

.italic {
  font-style: italic;
}

.closeButton {
  margin: 0 auto;
  margin-top: 25px;
}

.junkText {
  font-size: 13px;
}
