.footer {
  background-color: black;
  width: 100%;
  padding: 50px 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  max-width: 1280px;
  margin: 0 auto;
}

.link {
  color: white;
  text-decoration: underline;
}

.column {
  width: 33.3%;
  &:nth-child(2) {
    text-align: center;
  }
  &:nth-child(3) {
    text-align: right;
  }
}

.text {
  letter-spacing: -1px;
  word-spacing: 2px;
  font-size: 18px;
}
