@use '@variables' as variables;

.footer {
  background-color: variables.$black;
  width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.link {
  text-decoration: underline;
}

.column {
  .contactUs {
    margin-left: 80px;
  }
  &:nth-child(2) {
    display: flex;
    align-items: center;
  }
}

.text {
  font-size: 18px;
}
