@use '@variables' as variables;
@use '@mixins' as mixins;

.outerContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: block;
  background-color: variables.$newBlack;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
  padding: 30px 50px;
}

.logo {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.signIn {
  @include mixins.fontSecondaryLight;
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 50px 0;
}

.orText {
  @include mixins.fontSecondaryMedium;
  text-transform: uppercase;
  margin: 25px 0;
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 110px;
    height: 2px;
    background-color: white;
    top: 6px;
  }
  &:before {
    right: 50px;
  }
  &:after {
    left: 50px;
  }
}

@media (max-width: variables.$mobile) {
  .loginContainer {
    width: 100%;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0);
  }
  .title {
    font-size: 32px;
  }
}
