@use '@variables' as variables;
@use '@mixins' as mixins;

.title {
  @include mixins.fontPrimary;
  color: white;
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.orText {
  @include mixins.fontSecondaryMedium;
  text-transform: uppercase;
  margin: 25px 0;
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 110px;
    height: 2px;
    background-color: white;
    top: 6px;
  }
  &:before {
    right: 50px;
  }
  &:after {
    left: 50px;
  }
}
