@use '@mixins' as mixins;

.table {
  color: white;
  @include mixins.fontSecondary;
  width: 100%;
  th,
  td {
    text-align: center;
    position: relative;
    height: 65px;
    width: 25%;
    // Left border vertical line
    &:nth-child(1) {
      &:before {
        content: '';
        position: absolute;
        background-color: white;
        left: 0px;
        height: 103%;
        width: 1px;
        top: 0;
      }
    }
    // Vertical line
    &:after {
      content: '';
      position: absolute;
      background-color: white;
      right: 0px;
      height: 103%;
      width: 1px;
      top: 0;
    }
  }
  tr {
    position: relative;
    // horizontal line
    &:before {
      content: '';
      position: absolute;
      background-color: white;
      right: 0px;
      height: 1px;
      width: 100%;
      bottom: 0;
    }
  }
  tr.headingRow {
    th {
      height: 40px;
    }
    &:after {
      content: '';
      position: absolute;
      background-color: white;
      right: 0px;
      height: 1px;
      width: 100%;
      top: 0;
    }
  }
}
