@use '@mixins' as mixins;
@use '@variables' as variables;

.innerContainer {
  display: flex;
}

.table {
  color: white;
  @include mixins.fontSecondary;
  width: 100%;

  th {
    color: white;
    font-size: 18px;
    cursor: auto;
  }
  th,
  td {
    text-align: center;
    position: relative;
    height: 65px;
  }
  tr {
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  tr.headingRow {
    th {
      height: 40px;
    }
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: white;
      bottom: 0;
      left: 0;
    }
    &:hover {
      background: none;
    }
  }
}

.buttonsContainer {
  border-top: 1px solid white;
  margin-top: 41px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: flex-end;
  &:after {
    position: absolute;
    content: '';
    background-color: white;
    height: 1px;
    width: 102px;
    top: -1px;
    left: -12px;
  }
}
.buttonContainer {
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.number {
  @include mixins.fontPrimary;
  background-color: variables.$yellow;
  border-radius: 50%;
  padding: 10px;
  color: variables.$black;
  font-size: 18px;
  margin-right: 10px;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    overflow-x: scroll;
  }
  .innerContainer {
    width: 800px;
  }
  .table th,
  .table tr,
  .number {
    font-size: 14px;
  }
}
