@use '@mixins' as mixins;
@use '@variables' as variables;

.table {
  color: white;
  @include mixins.fontSecondary;
  width: 100%;

  th {
    @include mixins.fontPrimary;
    color: variables.$black;
    font-size: 18px;
    background-color: variables.$peach;
  }
  th,
  td {
    text-align: center;
    position: relative;
    height: 65px;
    width: 25%;
  }
  td {
    outline: 1px solid rgba(white, 0.5);
  }
  tr {
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  tr.headingRow {
    th {
      height: 40px;
    }
  }
}
