@use '@mixins' as mixins;
@use '@variables' as variables;

.button {
  @include mixins.fontSecondary;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: variables.$borderRadius;
  min-width: 100px;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  .spinnerIcon {
    animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  &:hover {
    color: black;
    background-color: white;
    transition: 0.2s;
    border: 2px solid black;
  }
  &.light {
    background-color: white;
    color: black;
    border: 2px solid black;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &.small {
    padding: 4px 0;
    min-width: 80px;
    @include mixins.fontSecondaryLight;
    margin-top: 10px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
