@use '@mixins' as mixins;
@use '@variables' as variables;

.button {
  @include mixins.fontSecondary;
  color: white;
  border: none;
  padding: 12px 25px 12px;
  font-size: 16px;
  border-radius: variables.$borderRadius;
  min-width: 150px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid white;
  background-color: variables.$black;
  display: flex;
  align-items: center;
  justify-content: center;
  .spinnerIcon {
    animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  &:hover {
    color: variables.$black;
    background-color: white;
    transition: 0.2s;
    border: 2px solid variables.$black;
    svg,
    p {
      color: variables.$black;
    }
  }
  &.light {
    background-color: white;
    color: variables.$black;
    border: 2px solid variables.$black;
    &:hover {
      background-color: variables.$black;
      color: white;
    }
  }
  &.small {
    padding: 12px 10px 10px 10px;
    min-width: 80px;
    @include mixins.fontSecondaryLight;
    margin-top: 10px;
    &:hover {
      @include mixins.fontSecondary;
    }
  }
  svg {
    position: relative;
    top: -2px;
  }
  &.secondary {
    background-color: #05bf78;
    border: none;
    color: variables.$black;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
