@use '@mixins' as mixins;
@use '@variables' as variables;

.heading,
.leagueName {
  font-size: 24px;
}

.leagueName {
  font-size: 32px;
  margin-top: 7px;
  @include mixins.fontPrimary;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.text {
  margin-right: 7px;
  font-size: 16px;
}

.button {
  cursor: pointer;
  display: flex;
}

@media screen and (max-width: variables.$mobile) {
  .topContainer {
    flex-direction: column;
  }
  .leagueName {
    margin-bottom: 20px;
  }
}
