@use '@variables' as variables;
@use '@mixins' as mixins;

.takeover {
  width: 500px;
}

.title {
  color: variables.$black;
  @include mixins.fontPrimary;
  font-size: 32px;
  margin: 10px 0 40px;
  text-align: center;
}

.message {
  color: variables.$black;
  margin-bottom: 10px;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  margin-top: 30px;
  text-align: center;
}

.button {
  margin-right: 15px;
}

@media screen and (max-width: variables.$mobile) {
  .takeover {
    width: 100%;
  }
  .buttonsContainer {
    flex-direction: column;
  }
  .button {
    margin: 10px 0 0px 0;
    order: 2;
  }
}
