@import '@variables';

.button {
  color: $white;
  background-color: blue;
  padding: 13px;
  border: none;
  border-radius: 2px;
  width: 250px;
  display: flex;
  margin: 0 20px;
  p {
    margin: 0 auto;
    display: block;
  }
}

.googleButton {
  background-color: $googleRed;
}
