@use '@variables' as variables;

.roundHeadingContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 40px;
}

@media screen and (max-width: variables.$mobile) {
  .roundHeadingContainer {
    display: block;
  }
}
