@use '@mixins' as mixins;

.container {
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
}

.left,
.right {
  margin: 0 auto;
  position: relative;
  top: 13px;
  width: 120px;
}

.left {
  margin-right: 20px;
}
.right {
  margin-left: 20px;
}

.imageContainer {
  height: 125px;
  width: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  border-radius: 10px;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    display: block;
  }
}
