@use '@mixins' as mixins;

.title {
  animation: slideAndFadeIn 7s linear forwards;
  font-size: 38px;
  @include mixins.fontSecondaryBold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.nextTitle {
  opacity: 0;
  animation-delay: 7s;
  height: 0;
}

.description {
  animation: slideAndFadeIn 7s linear forwards;
}

@keyframes slideAndFadeIn {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  10% {
    transform: translateX(0px);
    opacity: 1;
  }
  91% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-80px);
    opacity: 0;
  }
}
