@use '@variables' as variables;
@use '@mixins' as mixins;

.dashboardText {
  font-size: 40px;
  @include mixins.fontSecondaryBold;
  color: white;
}

.tablesContainer {
  display: grid;
  grid-template-columns: 2.5fr 0.001fr 1fr;
  gap: 50px;
}

.topContainer {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

.scrollContainer {
  overflow-x: auto;
}

.title {
  @include mixins.fontSecondaryBold;
  text-transform: uppercase;
  font-size: 45px;
}

.buttonsContainer {
  display: flex;
}

.button {
  text-transform: uppercase;
  margin-right: 15px;
  padding: 10px 20px;
  &:last-of-type {
    margin-right: 0;
  }
  svg {
    margin-left: 8px;
  }
}

.table {
  margin-bottom: 100px;
}

@media screen and (max-width: 1200px) {
  .topContainer {
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0 0;
    align-items: center;
  }
  .buttonsContainer {
    margin-top: 20px;
  }
  .button {
    margin-bottom: 20px;
  }
  .table {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: variables.$tablet) {
  .tablesContainer {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
