.createBracketButton {
  display: block;
  margin: 40px auto;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px dashed white;
  margin-bottom: 50px;
}
