@use '@variables' as variables;
@use '@mixins' as mixins;

.roundHeadingButton {
  text-align: center;
  background: none;
  border: none;
  color: white;
  position: relative;
  margin: 0 30px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &.active {
    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 100px;
      height: 3px;
      background-color: variables.$yellow;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.roundName {
  @include mixins.fontPrimary;
  font-size: 19px;
}

.roundText {
  margin-bottom: 10px;
  font-size: 14px;
  @include mixins.fontPrimary;
  height: 14px;
}
