@use '@variables' as variables;
@use '@mixins' as mixins;

.mobileNav {
  animation: slideRight linear 0.3s;
  background-color: variables.$lightGrey;
  color: variables.$white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  padding: 20px;
  width: 300px;
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.overlay {
  background-color: rgba(variables.$black, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  border: none;
}

.link {
  @include mixins.fontSecondary;
  margin-bottom: 15px;
}

.hamburger {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: none;
  }
}
