@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 80px 0;
}

.heading,
.leagueName {
  font-size: 24px;
}

.leagueName {
  font-size: 32px;
  margin-top: 7px;
  @include mixins.fontPrimary;
}

.loader {
  position: relative;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  display: flex;
}

.inviteMemberButton {
  margin-right: 25px;
  .addMemberText {
    margin-right: 8px;
  }
}

@media screen and (max-width: variables.$mobile) {
  .heading {
    font-size: 20px;
  }
  .leagueName {
    font-size: 28px;
    margin-bottom: 50px;
  }
}
