@use '@variables' as variables;
@use '@mixins' as mixins;

$width: 160px;

.playerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: variables.$grey;
  border: 2px solid variables.$lightGrey;
  width: $width;
  height: 55px;
  margin: 5px 0;
  transition: 0.3s;
  cursor: auto;
  &.isSelectionsEnabled:hover {
    cursor: pointer;
    border: 2px solid variables.$yellow;
    transition: 0.3s;
  }
}

.greenBorder {
  border: 2px solid green;
}

.redBorder {
  border: 2px solid red;
}

.selectButton {
  margin-top: 5px;
}

.flag {
  width: 20px;
}

.textFlagContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.playerName {
  font-size: 13px;
  text-align: left;
  @include mixins.fontPrimary;
  color: variables.$white;
  margin: 0;
}

.trophy {
  text-align: center;
  margin-top: -25px;
  width: $width;
}

.strikethrough {
  text-decoration: line-through;
}

.pointsWon {
  @include mixins.fontPrimary;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
}

.rowContainer {
  display: flex;
  align-items: center;
}
