.leagueSettingsContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 80px;
}

.text {
  margin-right: 7px;
  font-size: 18px;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

