.leagueSettingsContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 80px;
}

.text {
  margin-right: 7px;
  font-size: 18px;
  letter-spacing: -1px;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    svg {
      animation: rotate 0.3s ease-out forwards;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(90deg);
  }
}
