@use '@variables' as variables;
@use '@mixins' as mixins;

.roundHeadingButton {
  width: 33.3%;
  text-align: center;
  background: none;
  border: none;
  color: white;
  position: relative;
  margin-bottom: 30px;
  &.active {
    &:after {
      content: '';
      position: absolute;
      bottom: -15px;
      width: 100px;
      height: 3px;
      background-color: variables.$yellow;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.roundName {
  @include mixins.fontPrimary;
  font-size: 19px;
}

.roundText {
  margin-bottom: 10px;
  font-size: 14px;
  @include mixins.fontPrimary;
}
