@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  margin-bottom: 80px;
}

.textContainer {
  margin: 50px 0 30px;
  text-align: center;
}

.tilesContainer {
  width: 100%;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: variables.$tablet) {
  .tilesContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .textContainer {
    margin: 50px 0 30px;
  }
}
