@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  p {
    @include mixins.fontSecondaryLight;
  }
}

div.emailInput,
div.passwordInput {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 3px !important;
  width: 100%;
  text-align: left !important;
  input {
    text-align: left !important;
    padding: 12px 15px;
    &::placeholder {
      font-size: 14px;
      color: black !important;
    }
  }
}

.submit {
  margin-top: 20px;
  width: 100%;
  border-radius: 3px !important;
  padding: 12px 22px !important;
  margin-bottom: 25px;
}

.signUpRow {
  margin: 15px 0;
  @include mixins.fontSecondary;
  p {
    margin-right: 7px;
  }
}

.link {
  color: white;
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 15px;
  justify-self: flex-start;
  align-self: flex-start;
  padding: 0;
  @include mixins.fontSecondary;
  margin: 0;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    margin: 0 auto;
    width: 250px;
  }
  .submit {
    width: 100%;
  }
}
