.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 80px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 80px;
  width: 400px;
  img {
    width: auto;
    height: 100%;
  }
}
