@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  margin-top: 40px;
}

.innerContainer {
  display: flex;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.topRowButtonsContainer {
  display: flex;
  align-items: center;
  button:first-of-type {
    margin-right: 10px;
  }
}

.inviteButton {
  margin-top: 0 !important;
  &:hover {
    svg {
      color: white;
      transition: 0.3s;
    }
  }
  svg {
    margin-left: 5px;
  }
}

.title {
  @include mixins.fontPrimary;
  font-size: 32px;
}

.table {
  @include mixins.fontSecondary;
  width: 100%;
  border-collapse: collapse; // to hide borders between cells
  tr {
    position: relative;
    color: white;
    &:hover {
      background-color: rgba(variables.$charcoal, 0.1);
    }
    &.titleRow {
      font-size: 18px;
      height: 50px;
      background-color: #191919 !important;
      color: white;
      &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: variables.$charcoal;
        bottom: 0;
        left: 0;
      }
    }
  }
  td {
    height: 65px;
    width: 250px;
    text-align: center;
  }
  thead tr:hover {
    background: none;
  }
}
th.rank,
td.rank {
  width: 60px;
}

td.rank {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.number {
  @include mixins.fontSecondaryBold;
  background-color: variables.$green;
  border-radius: 50%;
  padding-top: 4px;
  color: white;
  font-size: 18px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.buttonsContainer {
  margin-top: 49px;
  border-top: 1px solid variables.$charcoal;
  position: relative;
  min-width: 250px;
  &:after {
    position: absolute;
    content: '';
    background-color: variables.$charcoal;
    height: 1px;
    width: 102px;
    top: -1px;
    left: -12px;
  }
}

.table tr,
.buttonContainer {
  &:nth-child(odd) {
    background-color: black;
  }

  &:nth-child(even) {
    background-color: variables.$newBlack;
  }
}

.buttonContainer {
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.button {
  text-align: center;
  width: 200px;
  color: black;
  &.pulse {
    @include mixins.pulseShadow($color: white);
  }
}

.inviteButton {
}

@media screen and (max-width: variables.$tablet) {
  .table tr,
  .table tr.titleRow,
  .number {
    font-size: 14px;
  }
  .buttonsContainer {
    border: none;
    &:after {
      display: none;
    }
  }

  .table tr {
    &.titleRow {
      &:after {
        display: none;
      }
    }
  }
  .table td,
  .table th {
    min-width: 150px;
  }

  .table th.rank,
  .table td.rank {
    min-width: 60px;
  }
  .topRowButtonsContainer {
    flex-direction: column;
  }
  .inviteButton {
    order: 2;
    margin: 0;
    width: 250px;
    align-self: flex-start;
  }
  .title {
    font-size: 24px;
  }
}
