@use '@mixins' as mixins;

.heading,
.leagueName {
  @include mixins.fontPrimary;
  font-size: 32px;
  text-align: center;
  margin-top: 100px;
}

.leagueName {
  font-size: 48px;
  margin: 20px 0 100px;
}

.loader {
  margin-top: 80px;
}

.createBracketButton {
  display: block;
  margin: 40px auto;
}
