.pageNotFoundContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //   font-family: 'Neue Haas Medium';
  flex-direction: column;
  //   color: $darkGreen;
  a {
    text-decoration: underline;
  }
}

.title {
  margin: 40px 0 20px;
  font-size: 40px;
}

.text {
  font-size: 18px;
}

.logo {
  width: 200px;
  height: auto;
}
