@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  width: 500px;
  position: relative;
  height: auto;
  min-height: 300px;
}

.title {
  color: variables.$black;
  @include mixins.fontSecondaryBold;
  font-size: 32px;
  margin: 15px 0 20px;
}

.closeButton {
  margin: 0 auto;
  width: 260px;
  margin-top: 10px;
}

.junkText {
  color: variables.$black;
  margin-bottom: 40px;
  text-align: center;
  @include mixins.fontSecondary;
  line-height: 1.3;
  font-size: 13px;
}

.inviteButton {
  min-width: auto !important;
  width: 260px;
  svg {
    margin-left: 8px;
  }
}

.groupInvite {
  margin-top: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  width: 400px;
  text-align: center;
  p {
    color: black;
    text-align: center;
  }
}

.or {
  @include mixins.fontSecondaryBold;
  margin-bottom: 7px;
}

.copyToClipboard {
  margin-top: 3px;
}

@media screen and (max-width: variables.$tablet) {
  .container {
    width: 90%;
    text-align: center;
  }
  .groupInvite {
    width: 100%;
  }
}
