@use '@mixins' as mixins;
@use '@variables' as variables;

.innerContainer {
  max-width: 1360px;
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 0 40px;
}

@media screen and (max-width: variables.$mobile) {
  .innerContainer {
    padding: 0 15px;
  }
}
