@use '@mixins' as mixins;
@use '@variables' as variables;

.innerContainer {
  max-width: 1360px;
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 0 40px;
}

.gradient {
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  width: 100vw;
  height: 50vh;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}

@media screen and (max-width: variables.$mobile) {
  .innerContainer {
    padding: 0 15px;
  }
}
