@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  margin-top: 50px;
}
.dropdown {
  display: flex;
  margin: 10px auto 0;
  width: 70%;
  color: white;
  label,
  svg {
    color: white;
  }
  div {
    border: 1px solid white;
    color: white;
  }
}

.heading {
  @include mixins.fontSecondary;
  text-align: center;
  font-size: 28px;
  color: white;
}

.select {
  color: white;
}

@media screen and (max-width: variables.$mobile) {
  .dropdown {
    width: 300px;
  }
  .heading {
    margin-bottom: 15px;
  }
}
