@use '@variables' as variables;
@use '@mixins' as mixins;

.modal {
  background-color: variables.$black;
  width: 800px;
  text-align: left;
}

.playerImage {
  width: 200px;
  border-radius: 20px;
}

.topRow {
  display: flex;
  margin-right: auto;
  align-items: flex-start;
}

.nameRow {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}

.textContainer {
  margin-left: 35px;
  @include mixins.fontSecondaryLight;
}

.flag {
  width: 30px;
}

.nameContainer {
  margin-left: 15px;
}

.name {
  font-size: 32px;
  @include mixins.fontSecondaryBold;
}

.instagram {
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
}

.description {
  margin-top: 30px;
}

.closeButton {
  background-color: variables.$black;
  color: white;
  &:hover {
    background-color: white;
    color: variables.$black;
  }
}

.sponsors {
  align-self: flex-start;
  margin-top: 30px;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 10px;
}

.title {
  font-size: 13px;
  margin-bottom: 3px;
}

.row {
  display: flex;
  &:nth-of-type(2) {
    margin-left: 100px;
  }
}

.icon {
  margin-right: 10px;
}

@media screen and (max-width: variables.$mobile) {
  .modal {
    width: 100%;
  }
  .topRow {
    flex-direction: column;
  }
  .textContainer {
    margin-left: 0;
    margin-top: 25px;
  }
  .playerImage {
    margin: 15px auto 0;
  }
}
