@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  max-width: 1280px;
  margin: 0 auto 50px;
  text-align: center;
}

.loader {
  margin-top: 280px;
}

.submitButton {
  display: inline-block;
  z-index: 10;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    overflow-x: scroll;
  }
  .backButton {
    margin: 25px 0 0px 25px;
  }
}
