@use '@variables' as variables;

.row {
  display: flex;
}

.bracketChallengeContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.winnerContainer {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.winnersBracket {
  height: auto !important;
}

.left {
  margin-right: 100px;
}

.winnersColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: variables.$mobile) {
  .bracketChallengeContainer {
    display: block;
  }
}
