@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.loader {
  margin-top: 280px;
}

.submitButton {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  z-index: 10;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    overflow-x: scroll;
  }
  .backButton {
    margin: 25px 0 0px 25px;
  }
}
