@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  max-width: 1280px;
  margin: 0 auto 50px;
  text-align: center;
}

.loader {
  margin-top: 280px;
}

.submitButton {
  display: inline-block;
  z-index: 10;
}

.lockedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  p {
    @include mixins.fontPrimary;
  }
}

.lock {
  margin-right: 7px;
}

.sport,
.bracketName {
  text-transform: uppercase;
  font-size: 50px;
  @include mixins.fontPrimary;
  text-align: center;
  color: white;
}

.bracketName {
  font-size: 40px;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    overflow-x: scroll;
  }
  .backButton {
    margin: 25px 0 0px 25px;
  }

  .lockedContainer {
    flex-direction: column;
    .lock {
      margin: 0 0 10px 0;
    }
    P {
      font-size: 14px;
    }
  }

  .sport,
  .bracketName {
    font-size: 30px;
  }
}
