@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  margin-top: 40px;
}

.innerContainer {
  display: flex;
}

.table {
  color: white;
  @include mixins.fontSecondary;
  tr {
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.titleRow {
      font-size: 18px;
      height: 50px;
      &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: white;
        bottom: 0;
        left: 0;
      }
    }
  }
  td {
    height: 65px;
    width: 250px;
    text-align: center;
  }
  thead tr:hover {
    background: none;
  }
}

.leagueHeading,
td.leagueName {
  width: 400px;
  text-align: left;
  padding-left: 10px;
}

.number {
  @include mixins.fontPrimary;
  background-color: variables.$green;
  border-radius: 50%;
  padding: 10px;
  color: variables.$black;
  font-size: 18px;
  margin-right: 10px;
}

.buttonsContainer {
  margin-top: 51px;
  border-top: 1px solid white;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    background-color: white;
    height: 1px;
    width: 102px;
    top: -1px;
    left: -12px;
  }
}

.buttonContainer {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.createBracketButton {
  text-align: center;
  width: 175px;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    overflow-x: scroll;
  }
  .innerContainer {
    width: 800px;
  }
  .table tr,
  .table tr.titleRow,
  .number {
    font-size: 14px;
  }

  .leagueHeading,
  td.leagueName {
    width: 300px;
  }
}
