@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  margin-bottom: 50px;
  position: relative;
  transition: all 0.2s ease;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; // Optional: Ensure it stays above other content
    background-color: #191919;
    padding: 20px 50px;
  }
}

.progressBarContainer {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  height: 20px;
}

.progressBar {
  height: 100%;
  transition: width 0.3s ease-in-out;
  border-radius: 8px 0 0 8px;
}

.progressText {
  @include mixins.fontPrimary;
  margin-bottom: 10px;
  font-size: 20px;
  span {
    font-size: 12px;
    margin-left: 10px;
  }
}

.topRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.completeContainer {
  margin-top: 15px;
  animation: fadeInAndSlideUp 0.5s ease;
  a {
    @include mixins.fontSecondary;
    font-size: 14px;
  }
}

.arrowButton {
  margin: 0 auto !important;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    margin: 15px 15px 50px;
    &.sticky {
      padding: 20px 20px;
      margin: 0;
    }
  }
  .topRow {
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    margin-bottom: 10px;
  }
  .progressText {
    font-size: 16px;
    position: relative;
    top: 2px;
    span {
      font-size: 11px;
    }
  }
}

@keyframes fadeInAndSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
