@font-face {
  font-family: 'Natural';
  font-style: normal;
  font-weight: normal;
  src: local('Natural'),
    url('../asset/fonts/NaturalSelection.woff2') format('woff2');
}

@font-face {
  font-family: 'Aktiv Grotesk Regular';
  src: url('../asset/fonts/Aktiv Grotesk/AktivGrotesk-Regular.ttf')
    format('ttf');
}

@font-face {
  font-family: 'Aktiv Grotesk Light';
  src: url('../asset/fonts/Aktiv Grotesk/AktivGrotesk-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Aktiv Grotesk Medium';
  src: url('../asset/fonts/Aktiv Grotesk/AktivGrotesk-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Aktiv Grotesk Bold';
  src: url('../asset/fonts/Aktiv Grotesk/AktivGrotesk-Bold.ttf') format('ttf');
}
