@import './fonts.css';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: white;
  font-family: 'Aktiv Grotesk Regular';
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  height: auto;
}

input[type='submit'],
button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  background-color: #191919;
}
