@mixin fontPrimary {
  font-family: 'Natural';
}

@mixin fontSecondaryLight {
  font-family: 'Aktiv Grotesk Light';
}

@mixin fontSecondary {
  font-family: 'Aktiv Grotesk Regular';
}

@mixin fontSecondaryMedium {
  font-family: 'Aktiv Grotesk Medium';
}

@mixin fontSecondaryBold {
  font-family: 'Aktiv Grotesk Bold';
}
