@mixin fontPrimary {
  font-family: 'Natural';
}

@mixin fontSecondaryLight {
  font-family: 'Aktiv Grotesk Light', 'Arial', sans-serif;
}

@mixin fontSecondary {
  font-family: 'Aktiv Grotesk Regular', 'Arial', sans-serif;
}

@mixin fontSecondaryMedium {
  font-family: 'Aktiv Grotesk Medium', 'Arial', sans-serif;
}

@mixin fontSecondaryBold {
  font-family: 'Aktiv Grotesk Bold', 'Arial', sans-serif;
}
