$borderRadius: 20px;

// Colors
$white: #fff;
$grey: #1f1f1f;
$lightGrey: #929292;
$charcoal: #2f2f2f;
$black: #191919;
$primaryColor: $black;
$peach: #f1a494;
$green: #05bf78;
$yellow: #fff601;
$blue: #3d5571;

// Screen Sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 850px;
