$borderRadius: 3px;

// Colors
$white: #fff;
$grey: #1f1f1f;
$lightGrey: #929292;
$charcoal: #2f2f2f;
$black: #191919;
// $peach: #f1a494;
$peach: #f37475;
// $green: #05bf78;
$green: #7bc9ab;
$blue: #65b2e3;
// $yellow: #fff601;
$yellow: #fffb87;
$blue: #3d5571;
$lightGrey: #252525;
$newBlack: #302f2f;
$primaryColor: $newBlack;
$secondaryColor: $green;

// Screen Sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 850px;
