@use '@variables' as variables;

.closeButton {
  background-color: white;
  border: none;
  color: variables.$primaryColor;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10001;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  &:hover {
    background-color: variables.$primaryColor;
    color: white;
    transition: 0.3s;
    border-radius: 50%;
  }
}
