@use '@mixins' as mixins;
@use '@variables' as variables;

.nav {
  width: 100%;
  z-index: 3;
  margin: 0 auto 30px;
  padding: 30px 0px 0;
  &.fixed {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 50px;
    margin-top: 30px;
    max-width: 1370px;
  }
}

.grid {
  display: grid;
  align-items: flex-start;
  width: 100%;
}

.navItem {
  @include mixins.fontSecondary;
  padding: 10px 20px;
}

.logoLink {
  display: block;
  width: 150px;
}
.logo {
  width: 150px;
  height: auto;
}

.signInText {
  margin-right: 6px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  border: none;
  min-width: auto;
  width: 140px;
  &:nth-of-type(2) {
    margin-left: 10px;
    p {
      color: black !important;
    }
  }
}

@media screen and (max-width: variables.$mobile) {
  .nav {
    margin: 0 auto;
    padding: 15px 0 0 0;
    align-items: center;
    &.fixed {
      padding: 0 20px;
    }
  }

  .logo {
    width: 29px;
    background: none;
  }

  .buttonsContainer {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .button {
    margin-left: 0;
    width: 100px;
    &:first-of-type {
      margin-top: 0 !important;
    }
  }
}
