@use '@mixins' as mixins;
@use '@variables' as variables;

.nav {
  width: 100%;
  z-index: 3;
  margin: 0 auto 30px;
  padding: 30px 0px 0;
  &.fixed {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 50px;
    margin-top: 30px;
    max-width: 1370px;
  }
}

.grid {
  display: grid;
  align-items: flex-start;
  width: 100%;
}

.navItem {
  @include mixins.fontSecondary;
  padding: 10px 20px;
}

.userIcon {
  position: relative;
  color: white;
  transition: 0.3s;
  svg {
    color: white;
    position: relative;
    z-index: 2;
    padding-right: 0.5px;
  }
  &:after {
    content: '';
    transition: 0.3s;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }
  &:hover {
    color: variables.$newBlack;
    transition: 0.3s;
    svg {
      color: variables.$newBlack;
      transition: 0.3s;
    }
    &:after {
      background-color: white;
      border: none;
    }
  }
}

.logo {
  width: 150px;
  height: auto;
}

button.joinButton {
  @include mixins.fontSecondaryBold;
}

.signInText {
  margin-right: 12px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: variables.$mobile) {
  .nav {
    margin: 0 auto;
    padding: 30px 20px;
    align-items: center;
    &.fixed {
      padding: 0 20px;
    }
  }

  .logo {
    width: 29px;
    background: none;
  }

  .userIcon {
    margin-right: 5px;

    svg {
      width: 12px;
    }
    &:after {
      width: 25px;
      height: 25px;
      top: -6px;
      background-color: black;
    }
  }
}
