@use '@mixins' as mixins;
@use '@variables' as variables;

.next,
.previous {
  @include mixins.fontPrimary;
  background: none;
  border: none;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
}

.glow {
  position: relative;
  background: none;
  border-radius: 50%;
  animation: grow 1.3s infinite ease-out;
  will-change: transform;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    animation: grow 1.3s infinite ease-out;
    z-index: -1;
    will-change: box-shadow;
    filter: blur(3px);
  }
}

.next {
  margin-left: 25px;
  text-align: right;
  justify-content: flex-end;
  .icon {
    margin-left: 8px;
  }
}
.previous {
  margin-right: 25px;
  text-align: left;
  justify-content: flex-start;
  .icon {
    margin-right: 8px;
  }
}

@media screen and (max-width: variables.$mobile) {
  .glow {
    animation: growMobile 1.3s infinite ease-out;
    &:after {
      animation: growMobile 1.3s infinite ease-out;
    }
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes growMobile {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
