@use '@variables' as variables;

.hamburgerMenu {
  z-index: 10;
  display: none;
  width: 30px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.hamburgerMenu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 30px;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburgerMenu span:nth-child(1) {
  top: 0px;
}

.hamburgerMenu span:nth-child(2),
.hamburgerMenu span:nth-child(3) {
  top: 7px;
}

.hamburgerMenu span:nth-child(4) {
  top: 14px;
}

.hamburgerMenu.open span:nth-child(1) {
  top: 21px;
  width: 0%;
  left: 50%;
}

.hamburgerMenu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburgerMenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburgerMenu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media (max-width: variables.$mobile) {
  .hamburgerMenu {
    display: block;
  }
}
